<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apk.appinfocovid19"
    android:targetSandboxVersion="1"
    tools:targetApi="o">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".Activity.DonacionActivity"></activity>
        <activity android:name=".Activity.ReportarCasoActivity" />
        <activity android:name=".Activity.DiagnosticoActivity" />
        <activity android:name=".Activity.PrecaucionesActivity" />
        <activity android:name=".Activity.EtapasActivity" />
        <activity android:name=".Activity.BuscadorActivity" />
        <activity android:name=".Activity.GuiaEmergenciaActivity" />
        <activity android:name=".Activity.SintomasActivity" />
        <activity android:name=".Activity.MenuDetalleActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".Activity.MenuActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>